Importando o CSV

In [2]:
import numpy as np

dataset = np.loadtxt("space.csv", delimiter=";",dtype=str,encoding = 'utf-8')
print(dataset)

[['\ufeffNum' 'Company Name' 'Location' ... 'Status Rocket' ' Cost'
  'Status Mission']
 ['0' 'SpaceX' 'LC-39A Kennedy Space Center Florida USA' ...
  'StatusActive' '50.0 ' 'Success']
 ['1' 'CASC' 'Site 9401 (SLS-2) Jiuquan Satellite Launch Center China'
  ... 'StatusActive' '29.75 ' 'Success']
 ...
 ['4321' 'US Navy' 'LC-18A Cape Canaveral AFS Florida USA' ...
  'StatusRetired' '0' 'Failure']
 ['4322' 'RVSN USSR' 'Site 1/5 Baikonur Cosmodrome Kazakhstan' ...
  'StatusRetired' '0' 'Success']
 ['4323' 'RVSN USSR' 'Site 1/5 Baikonur Cosmodrome Kazakhstan' ...
  'StatusRetired' '0' 'Success']]

1. Apresente a porcentagem de missões que deram certo

In [15]:
status_mission = dataset[1:, 7]

success = np.sum(status_mission == 'Success')

total_missions = status_mission.size

print("Porcentagem de missões bem sucedidas: ", int((success / total_missions) * 100), "%")

Porcentagem de missões bem sucedidas:  89 %

2. Qual a media de gastos de uma missão especial se baseando em missões que possuam valores disponíveis (>0)?

In [39]:
cost = dataset[1:, 6].astype(float)
cost_validos = cost[cost > 0]
print("Media de gastos que possuem valores: ", np.mean(cost_validos))

Media de gastos que possuem valores:  153.7921991701245

3. Encontre quantas missões espaciais neste Dataset foram realizadas pelos Estados Unidos(EUA)

In [45]:
location = dataset[1:, 2]
quantidade_USA = np.sum(np.char.find(location, "USA")>-1)
print("Quantidade de missões que foram realizadas pelos Estados Unidos:",quantidade_USA)

Quantidade de missões que foram realizadas pelos Estados Unidos: 1344

4. Encontre qual foi a missão mais cara realizada pela empresas “SpaceX”

In [51]:
companyName = dataset[1:, 1]
cost = dataset[1:, 6].astype(float)
print("Maior gasto da SpaceX: ", np.max(cost[companyName == "SpaceX"]))

Maior gasto da SpaceX:  90.0

5. Mostre o nome das empresas que já realizaram missões espaciais, juntamente com suas respectivas quantidades de missões (use o for no final para mostrar as informações)

In [60]:
company_names = dataset[1:, 1]
unique, counts = np.unique(company_names, return_counts=True)
for company, count in zip(unique, counts):
    print(f"{company}possui {count} missão(ões)")

AEBpossui 3 missão(ões)
AMBApossui 8 missão(ões)
ASIpossui 9 missão(ões)
Arianespacepossui 279 missão(ões)
Arm??e de l'Airpossui 4 missão(ões)
Blue Originpossui 12 missão(ões)
Boeingpossui 136 missão(ões)
CASCpossui 251 missão(ões)
CASICpossui 5 missão(ões)
CECLESpossui 4 missão(ões)
CNESpossui 8 missão(ões)
Douglaspossui 1 missão(ões)
EERpossui 1 missão(ões)
ESApossui 13 missão(ões)
Eurockotpossui 13 missão(ões)
ExPacepossui 10 missão(ões)
Exospossui 4 missão(ões)
General Dynamicspossui 251 missão(ões)
IAIpossui 11 missão(ões)
ILSpossui 46 missão(ões)
IRGCpossui 1 missão(ões)
ISApossui 13 missão(ões)
ISASpossui 30 missão(ões)
ISROpossui 76 missão(ões)
JAXApossui 7 missão(ões)
KARIpossui 3 missão(ões)
KCSTpossui 5 missão(ões)
Khrunichevpossui 1 missão(ões)
Kosmotraspossui 22 missão(ões)
Land Launchpossui 7 missão(ões)
Landspacepossui 1 missão(ões)
Lockheedpossui 79 missão(ões)
MHIpossui 84 missão(ões)
MITTpossui 7 missão(ões)
Martin Mariettapossui 114 missão(ões)
NASApossui 203 missão(ões)
Northroppossui 83 missão(ões)
OKB-586possui 2 missão(ões)
OneSpacepossui 1 missão(ões)
RAEpossui 2 missão(ões)
RVSN USSRpossui 1777 missão(ões)
Rocket Labpossui 13 missão(ões)
Roscosmospossui 55 missão(ões)
SRCpossui 3 missão(ões)
Sandiapossui 1 missão(ões)
Sea Launchpossui 36 missão(ões)
SpaceXpossui 100 missão(ões)
Starsempossui 1 missão(ões)
ULApossui 140 missão(ões)
US Air Forcepossui 161 missão(ões)
US Navypossui 17 missão(ões)
UTpossui 5 missão(ões)
VKS RFpossui 201 missão(ões)
Virgin Orbitpossui 1 missão(ões)
Yuzhmashpossui 2 missão(ões)
i-Spacepossui 1 missão(ões)